In [ ]:
import os
# os.chdir(r'C:\Users\mmasniko\OneDrive - Syracuse University\Documents\SU\Spring25\IST707\final_project')
os.getcwd()

'C:\\Users\\mmasniko\\OneDrive - Syracuse University\\Documents\\SU\\Spring25\\IST707\\final_project'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Data from: https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

# df_yellow_cab = pd.read_parquet('data/yellow_tripdata_2020-01.parquet', engine='pyarrow')
# df_yellow_cab.head()

# multiple trips per day
# columns:
# passenger count
# trip_distance
# rate code id
# store and fwd flag
# PU location id
# DO location id
# payment type
# fare amount
# extra
# mta tax
# tip amount
# tolls amount
# improvement surcharge
# total amount
# congestion surcharge
# airport fee

In [ ]:
# df_green_cab = pd.read_parquet('data/green_tripdata_2020-01.parquet', engine = 'pyarrow')
# df_green_cab.head()

# mutiple trips per day
# columns:
# store and fwd flag
# rate code id
# PU location id
# DO location id
# passanger count
# trip distance
# fare amount
# extra
# mta tax
# tip amount
# tolls amount
# ehail fee
# improvement surcharge
# total amount
# payment type
# trip type
# congestion surcharge

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-12-18 15:52:30,2019-12-18 15:54:39,N,1.0,264,264,5.0,0.00,3.5,0.50,0.5,0.01,0.0,None,0.3,4.81,1.0,1.0,0.00
1,2,2020-01-01 00:45:58,2020-01-01 00:56:39,N,5.0,66,65,2.0,1.28,20.0,0.00,0.0,4.06,0.0,None,0.3,24.36,1.0,2.0,0.00
2,2,2020-01-01 00:41:38,2020-01-01 00:52:49,N,1.0,181,228,1.0,2.47,10.5,0.50,0.5,3.54,0.0,None,0.3,15.34,1.0,1.0,0.00
3,1,2020-01-01 00:52:46,2020-01-01 01:14:21,N,1.0,129,263,2.0,6.30,21.0,3.25,0.5,0.00,0.0,None,0.3,25.05,2.0,1.0,2.75
4,1,2020-01-01 00:19:57,2020-01-01 00:30:56,N,1.0,210,150,1.0,2.30,10.0,0.50,0.5,0.00,0.0,None,0.3,11.30,1.0,1.0,0.00

In [ ]:
# df_fhv = pd.read_parquet('data/fhv_tripdata_2020-01.parquet', engine = 'pyarrow')
# df_fhv.head()

# multiple trips per day
# columns:
# dispatching base num
# PU location
# DO location
# SR flag
# affiliated base num

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2020-01-01 00:30:00,2020-01-01 01:44:00,264.0,264.0,None,B00001
1,B00001,2020-01-01 00:30:00,2020-01-01 00:47:00,264.0,264.0,None,B00001
2,B00009,2020-01-01 00:48:00,2020-01-01 01:19:00,264.0,264.0,None,B00009
3,B00009,2020-01-01 00:34:00,2020-01-01 00:43:00,264.0,264.0,None,B00009
4,B00009,2020-01-01 00:23:00,2020-01-01 00:32:00,264.0,264.0,None,B00009

In [ ]:
# High Volume for-hire vehicles
## DATA FILES ARE VERY LARGE

df_hvfhv = pd.read_parquet('data/fhvhv_tripdata_2020-01.parquet', engine = 'pyarrow')
df_hvfhv = df_hvfhv[df_hvfhv.hvfhs_license_num.isin(['HV0003', 'HV0005'])] # only include Uber and Lyft
df_hvfhv.drop(columns = ['airport_fee', 'on_scene_datetime', 'originating_base_num',
                         'wav_request_flag', 'wav_match_flag', 'access_a_ride_flag',
                        'dispatching_base_num'], inplace=True)
df_hvfhv.head()

# multiple trips per day

# columns:
# HVFHV license num # Rideshare app company

# request date: date/time when passenger requested to be picked up
# PU date: The date and time of the trip pick-up
# DO date: The date and time of the trip drop-off
# PU location: TLC Taxi Zone in which the trip began
# DO location: TLC Taxi Zone in which the trip ended
# trip miles: total miles for passenger trip
# trip time: total time in seconds for passenger trip
# base passenger fare: base passenger fare before tolls, tips, taxes, and fees
# tolls: total amount of all tolls paid in trip
# bcf: total amount collected in trip for Black Car Fund
# sales tax: total amount collected in trip for NYS sales tax
# congestion surcharge: total amount collected in trip for NYS congestion surcharge
# tips: total amount of tips received from passenger
# driver pay: total driver pay (not including tolls or tips and net of commission, surcharges, or taxes)
# shared request flag: Did the passenger agree to a shared/pooled ride
# shared match flag # Did the passenger share the vehicle with another passenger who booked separately at any point during the trip?

# Dropped columns:
# dispatching base num # The TLC Base License Number of the base that dispatched the trip, not needed for analysis
# originating base num # mostly nulls, will be dropped
# on scene date # mostly nulls, will be dropped
# airport fee # mostly nulls, will be dropped
# access a ride flag # mostly blank space instead of indicator Y/N. Assuming this is missing, dropping feature
# wav request flag: wheelchair accessible vehicle request: drop
# wav match flag: wheelchair accessible vehicle match: drop

,hvfhs_license_num,request_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,tips,driver_pay,shared_request_flag,shared_match_flag
0,HV0003,2020-01-01 00:40:13,2020-01-01 00:45:34,2020-01-01 01:02:20,148,90,1.93,1006,30.44,0.0,0.76,2.70,2.75,0.0,18.25,N,N
1,HV0003,2020-01-01 00:42:31,2020-01-01 00:47:50,2020-01-01 00:53:23,114,79,0.81,333,14.80,0.0,0.37,1.31,2.75,0.0,10.84,N,N
2,HV0003,2020-01-01 00:01:42,2020-01-01 00:04:37,2020-01-01 00:21:49,4,125,2.53,1032,15.63,0.0,0.47,1.39,2.75,3.0,11.73,N,N
3,HV0003,2020-01-01 00:21:23,2020-01-01 00:26:36,2020-01-01 00:33:00,231,113,1.11,384,8.44,0.0,0.21,0.75,2.75,0.0,5.84,N,N
4,HV0003,2020-01-01 00:32:20,2020-01-01 00:37:49,2020-01-01 00:46:59,114,144,1.10,550,11.57,0.0,0.29,1.03,2.75,0.0,7.69,N,N

In [ ]:
df_hvfhv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19856768 entries, 0 to 20569367
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   hvfhs_license_num     object
 1   request_datetime      datetime64[us]
 2   pickup_datetime       datetime64[us]
 3   dropoff_datetime      datetime64[us]
 4   PULocationID          int64
 5   DOLocationID          int64
 6   trip_miles            float64
 7   trip_time             int64
 8   base_passenger_fare   float64
 9   tolls                 float64
 10  bcf                   float64
 11  sales_tax             float64
 12  congestion_surcharge  float64
 13  tips                  float64
 14  driver_pay            float64
 15  shared_request_flag   object
 16  shared_match_flag     object
dtypes: datetime64[us](3), float64(8), int64(3), object(3)
memory usage: 2.7+ GB

In [ ]:
df_hvfhv.hvfhs_license_num.unique()
# HV0003: Uber
# HV0004: Via
# HV0005: Lyft

array(['HV0003', 'HV0005', 'HV0004'], dtype=object)

In [ ]:
app_dict = {'HV0003':'Uber', 'HV0005':'Lyft'}
df_hvfhv['app'] = df_hvfhv['hvfhs_license_num'].replace(app_dict)

In [ ]:
df_hvfhv.groupby('app').count()

,hvfhs_license_num,request_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,tips,driver_pay,shared_request_flag,shared_match_flag
app,,,,,,,,,,,,,,,,,
Lyft,5274248,5274248,5274248,5274248,5274248,5274248,5274248,5274248,5274248,5274248,5274248,5274248,5274248,5274248,5274248,5274248,5274248
Uber,14582520,14582520,14582520,14582520,14582520,14582520,14582520,14582520,14582520,14582520,14582520,14582520,14582520,14582520,14582520,14582520,14582520

In [ ]:
df_hvfhv.shared_request_flag.value_counts(normalize=True)

shared_request_flag
N    0.848122
Y    0.151878
Name: proportion, dtype: float64

In [ ]:
df_hvfhv.shared_match_flag.value_counts(normalize=True)

shared_match_flag
N    0.91224
Y    0.08776
Name: proportion, dtype: float64

In [ ]:
df_uber = df_hvfhv[df_hvfhv.app == 'Uber']
df_lyft = df_hvfhv[df_hvfhv.app == 'Lyft']

In [ ]:
print('uber:', (df_uber.pickup_datetime - df_uber.request_datetime).mean())
print('lyft:', (df_lyft.pickup_datetime - df_lyft.request_datetime).mean())
print('avg:', (df_hvfhv.pickup_datetime - df_hvfhv.request_datetime).mean()) # Average wait time from request to pickup is 4 minutes

uber: 0 days 00:04:09.255715
lyft: 0 days 00:04:30.197747
avg: 0 days 00:04:14.818225

In [ ]:
df_uber['PULocationID'].value_counts()

PULocationID
132    238551
138    228697
61     208998
79     197254
161    176780
        ...
110        13
1           9
2           9
105         3
199         1
Name: count, Length: 262, dtype: int64

In [ ]:
df_uber['DOLocationID'].value_counts()

DOLocationID
265    421501
132    256563
138    225263
61     215957
79     171799
        ...
8         296
110        19
2          16
105         6
199         1
Name: count, Length: 262, dtype: int64

In [ ]:
df_uber['shared_request_flag'].value_counts(normalize=True)

shared_request_flag
N    0.883699
Y    0.116301
Name: proportion, dtype: float64

In [ ]:
df_hvfhv.head()

# to aggregate to hourly
# group by uber/lyft
# count trips per hour
# request_datetime: drop
# pickup_datetime: extract hour of day
# dropoff_datetime: drop?
# PULocationID: location with the most pickups that hour
# DOLocationID: location with the most dropoffs that hour
# trip miles: sum per hour
# trip_miles: average per hour
# trip_time: sum per hour
# trip_time: average per hour
# base_passenger_fare: sum per hour
# base_passenger_fare: average per hour
# tolls: sum per hour
# tolls: average per hour
# bcf: average per hour
# sales tax: average per hour
# congestion_surcharge: sum per hour
# congestion_surcharge: average per hour
# tips: sum per hour
# tips: average per hour
# driver_pay: average per hour
# shared_request_flag: most frequent value per hour: drop
# shared_match_flag: most frequent value per hour: drop

,hvfhs_license_num,request_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,tips,driver_pay,shared_request_flag,shared_match_flag,app
0,HV0003,2020-01-01 00:40:13,2020-01-01 00:45:34,2020-01-01 01:02:20,148,90,1.93,1006,30.44,0.0,0.76,2.70,2.75,0.0,18.25,N,N,Uber
1,HV0003,2020-01-01 00:42:31,2020-01-01 00:47:50,2020-01-01 00:53:23,114,79,0.81,333,14.80,0.0,0.37,1.31,2.75,0.0,10.84,N,N,Uber
2,HV0003,2020-01-01 00:01:42,2020-01-01 00:04:37,2020-01-01 00:21:49,4,125,2.53,1032,15.63,0.0,0.47,1.39,2.75,3.0,11.73,N,N,Uber
3,HV0003,2020-01-01 00:21:23,2020-01-01 00:26:36,2020-01-01 00:33:00,231,113,1.11,384,8.44,0.0,0.21,0.75,2.75,0.0,5.84,N,N,Uber
4,HV0003,2020-01-01 00:32:20,2020-01-01 00:37:49,2020-01-01 00:46:59,114,144,1.10,550,11.57,0.0,0.29,1.03,2.75,0.0,7.69,N,N,Uber

In [ ]:
# about 3 million rows where the passanger base fare, surcharges, and sales tax were less than driver pay.
# Driver pay does not include tips according to the data dictionary. These rows don't add up so they will be dropped
df_uber = df_uber[(df_uber.base_passenger_fare + df_uber.congestion_surcharge + df_uber.sales_tax) > df_uber.driver_pay]

In [ ]:
# about 151k rows where the pay doesnt add up
df_lyft = df_lyft[(df_lyft.base_passenger_fare + df_lyft.congestion_surcharge + df_lyft.sales_tax) > df_lyft.driver_pay]

In [ ]:
# About 3 million rows were dropped after that cleaning
pd.concat([df_uber, df_lyft], axis=0).shape[0] - df_hvfhv.shape[0]

-3012231

In [ ]:
# define the columns to be used for grouping
df_uber['pickup_hour'] = df_uber['pickup_datetime'].dt.hour
df_uber['pickup_date'] = df_uber['pickup_datetime'].dt.date

# flag to indicate it the pickup date was on a weekend, monday = 0, sunday = 6
df_uber['is_weekend'] = df_uber['pickup_datetime'].dt.weekday > 5

df_lyft['pickup_hour'] = df_lyft['pickup_datetime'].dt.hour
df_lyft['pickup_date'] = df_lyft['pickup_datetime'].dt.date
df_lyft['is_weekend'] = df_lyft['pickup_datetime'].dt.weekday > 5

In [ ]:
def agg_get_count(X):
    """ Hourly count of trips
    """
    count_result = X.groupby(['pickup_date', 'pickup_hour'])['pickup_datetime'].count().reset_index()
    count_result.rename(columns = {'pickup_datetime': 'trip_count'}, inplace = True)
    return count_result

def agg_get_mode(X, feature):
    """ aggregates the feature of dataframe X by date and hour of day to most frequent
    """
#     return X.groupby(['pickup_date','pickup_hour'])[feature].agg(lambda x: x.mode()[0]).reset_index()
    mode_result = X.groupby(['pickup_date', 'pickup_hour'])[feature].agg(lambda x: x.mode()[0]).reset_index()
    mode_result.rename(columns={feature: f'{feature}_mode'}, inplace=True)
    return mode_result


def agg_mean_sum(X, feature):
    """ aggregates the feature of dataframe X by date and hour of day to mean and sum
    """
#     return X.groupby(['pickup_date','pickup_hour']).agg(Mean=(feature, np.mean), Sum=(feature, np.sum)).reset_index()
    aggregated_result = X.groupby(['pickup_date','pickup_hour']).agg(
        **{f'{feature}_mean':(feature, np.mean),
           f'{feature}_sum':(feature, np.sum)}).reset_index()
    return aggregated_result

In [ ]:
# Define a function to compute aggregations for a given dataframe
def compute_aggregations(df):
    return {
        "cnt": agg_get_count(df),
        "pul": agg_get_mode(df, "PULocationID"),
        "dol": agg_get_mode(df, "DOLocationID"),
        "wke": agg_get_mode(df, "is_weekend"),
        "trip_distance": agg_mean_sum(df, "trip_miles"),
        "trip_time": agg_mean_sum(df, "trip_time"),
        "base_fare": agg_mean_sum(df, "base_passenger_fare"),
        "tolls": agg_mean_sum(df, "tolls"),
        "bcf": agg_mean_sum(df, "bcf"),
        "sales_tax": agg_mean_sum(df, "sales_tax"),
        "congestion_surcharge": agg_mean_sum(df, "congestion_surcharge"),
        "tips": agg_mean_sum(df, "tips"),
        "driver_pay": agg_mean_sum(df, "driver_pay"),
    }

# Compute aggregations for Uber and Lyft
uber_aggregations = compute_aggregations(df_uber)
lyft_aggregations = compute_aggregations(df_lyft)

In [ ]:
# build a dataframe to merge the aggregate values to
uber_hourly_df = pd.DataFrame(uber_aggregations['cnt'][['pickup_date', 'pickup_hour']])
for v in uber_aggregations.values():
    uber_hourly_df = uber_hourly_df.merge(v, on = ['pickup_date', 'pickup_hour'])

lyft_hourly_df = pd.DataFrame(lyft_aggregations['cnt'][['pickup_date', 'pickup_hour']])
for v in lyft_aggregations.values():
    lyft_hourly_df = lyft_hourly_df.merge(v, on = ['pickup_date', 'pickup_hour'])

In [ ]:
# save to disk
uber_hourly_df.to_csv('data/hourly/uber_hourly1.csv', index=False)
lyft_hourly_df.to_csv('data/hourly/lyft_hourly1.csv', index=False)

In [ ]:
def combine_hourly_data(app):
  dataframes = []
  for i in range(1, 13):
    try:
      df = pd.read_csv(f'data/hourly/{app}_hourly{i}.csv')
      dataframes.append(df)
    except FileNotFoundError:
      print(f"File not found: {app}_hourly{i}.csv")

  if dataframes: # check dataframes not an empty list
    combined_df = pd.concat(dataframes, ignore_index=True)
    combined_df.to_csv(f'data/hourly/{app}_hourly.csv', index=False)
  else:
    print("No Dataframes found")
  return combined_df

lyft_hourly_df = combine_hourly_data('lyft')
uber_hourly_df = combine_hourly_data('uber')
t_zone = pd.read_csv('data/taxi_zone_lookup.csv')

In [ ]:
# lyft_hourly_df['trip_count'].sum() # 36,123,878
# uber_hourly_df['trip_count'].sum() # 87,339,928

In [ ]:
## Lyft
lyft_hourly_df = lyft_hourly_df.merge(t_zone[['LocationID','Borough','Zone']], how ='left', left_on='PULocationID_mode', right_on='LocationID')
lyft_hourly_df.drop(columns=['LocationID'], inplace=True)
lyft_hourly_df.rename(columns={'Borough':'PULocationBorough','Zone':'PULocationZone'}, inplace=True)
lyft_hourly_df = lyft_hourly_df.merge(t_zone[['LocationID','Borough','Zone']], how ='left', left_on='DOLocationID_mode', right_on='LocationID')
lyft_hourly_df.drop(columns=['LocationID'], inplace=True)
lyft_hourly_df.rename(columns={'Borough':'DOLocationBorough','Zone':'DOLocationZone'}, inplace=True)
lyft_hourly_df.to_csv('data/hourly/lyft_hourly.csv', index=False)

In [ ]:
## Uber
uber_hourly_df = uber_hourly_df.merge(t_zone[['LocationID','Borough','Zone']], how ='left', left_on='PULocationID_mode', right_on='LocationID')
uber_hourly_df.drop(columns=['LocationID'], inplace=True)
uber_hourly_df.rename(columns={'Borough':'PULocationBorough','Zone':'PULocationZone'}, inplace=True)
uber_hourly_df = uber_hourly_df.merge(t_zone[['LocationID','Borough','Zone']], how ='left', left_on='DOLocationID_mode', right_on='LocationID')
uber_hourly_df.drop(columns=['LocationID'], inplace=True)
uber_hourly_df.rename(columns={'Borough':'DOLocationBorough','Zone':'DOLocationZone'}, inplace=True)
uber_hourly_df.to_csv('data/hourly/uber_hourly.csv', index=False)